@import "tailwindcss";


body {

  font-family: Arial, Helvetica, sans-serif;
  
}
@keyframes fadeOut-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.fade-out {
  animation: fadeOut-animation 0.8s ease-in-out forwards;
}
